  <!DOCTYPE html>
  <html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="about-section">
        <h1>About DetectGuard AI</h1>
        <p>DetectGuard AI was founded by a group of passionate
             individuals who shared a common goal: to combat the ever-evolving
              tactics of cybercriminals. Recognizing the alarming rise of SMS
               phishing attacks and their devastating consequences, we set out
                on a journey to develop an AI model that could effectively detect
                 and thwart these malicious schemes.</p>
        <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
      </div>
      
      <!-- <h2 style="text-align:center">Our Team</h2> -->
      <div class="row">
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
            <div class="container">
              <h2>Our Commitment to Security</h2>
              <!-- <p class="title">CEO & Founder</p> -->
              <p>Our commitment to security is unwavering. We prioritize the protection
                 of your data and privacy, adhering to the strictest standards.
                  Our AI model is continually improved 
                to stay ahead of emerging threats, ensuring that you're always shielded from potential harm.</p>
          
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team2.jpg" alt="Mike" style="width:100%"> -->
            <div class="container">
              <h2>Our Vision</h2>
              <!-- <p class="title">Art Director</p> -->
              <p>We are dedicated to empowering smartphone users with our state-of-the-art
                 SMS phishing detection technology. By seamlessly integrating our model into
                  SMS apps, we aim to set a new standard for mobile security, ensuring that
                   every message sent and received is shielded against phishing threats."</p>
              
              <!-- <p><button class="button">Contact</button></p> -->
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <!-- <img src="/w3images/team3.jpg" alt="John" style="width:100%"> -->
            <div class="container">
              <h2>Contact us</h2>
              <!-- <p class="title">Designer</p> -->
              <p>Have questions or want to learn more about our AI
                model for SMS phishing detection? Contact our team 
                today. We're here to assist you in creating a safer, 
                more secure online environment for yourself and your organization.</p>
              <!-- <p>john@example.com</p> -->
              <p><button class="button">Contact Us</button></p>
            </div>
          </div>
        </div>
      </div>
      
    
  </body>
  </html>
